main {
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    gap: 15px;
}

body {
    max-width: 720px;
    width: 100%;
    margin: 0;
}

.main-button {
    width: 60%;
    max-width: 400px;
    border: 1px solid black;
    padding: 20px;
    background-color: bisque;
    font-size: 32px;
}