main {
    width: 100%;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    
}

body {
    max-width: 425px;
    width: 100%;
    margin: 0;
}

.main-button {
    width: 60%;
    max-width: 400px;
    border: 1px solid black;
    padding: 40px;
    background-color: bisque;
    font-size: 32px;
}

.input-group {
    display: flex;
    justify-content: center;
}

input {
    width: 98%;
    height: 50px;
    border: 1px solid black;
    font-size: 32px;
    padding: 0;
}

p {
    font-size: 24px;
    margin: 8px 0;
}

.settings-group {
    border: 1px darkcyan dashed;
    max-width: 50%;
    width: 50%;
    margin-bottom: 15px;
}

.back-to-main-button {
    border: 1px solid black;
    padding: 15px 30px;
    background-color: bisque;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
}